<div class="container m-5">
  <div class="row">
    <div class="col-md-8">
      <div class="card mb-3">
        <div class="card-body">
          <h2>Productos</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Imagen</th>
              </tr>
            </thead>
            <tbody>
              <!-- Ejemplo de un producto -->
              <tr *ngIf="cocheraSeleccionada">
                <td>{{ cocheraSeleccionada.nombre_cochera }}</td>
                <td>{{ "$" + precioTotal }}</td>
                <td>
                  <img
                    [src]="cocheraSeleccionada.img_cochera"
                    alt="cochera"
                    width="100"
                  />
                </td>
              </tr>
              <!-- Agrega más filas para mostrar otros productos -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h2>Resumen del Carrito</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Imagen</th>
              </tr>
            </thead>
            <tbody>
              <!-- Ejemplo de un producto en el carrito -->
              <tr *ngIf="cocheraSeleccionada">
                <td>{{ cocheraSeleccionada.nombre_cochera }}</td>
                <td>{{ "$" + precioTotal }}</td>
                <td>
                  <img
                    [src]="cocheraSeleccionada.img_cochera"
                    alt="cochera"
                    width="100"
                  />
                </td>
              </tr>
              <!-- Agrega más filas para mostrar otros productos en el carrito -->
            </tbody>
          </table>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-outline-success m-lg-3"
        routerLink="/detalle-facturacion"
      >
        Pagar
      </button>
      <button type="button" class="btn btn-outline-info" routerLink="/elegir">
        Volver
      </button>
    </div>
  </div>
</div>
