<div class="container-fluid mt-5">
  <div class="row">
    <div
      class="col-12 col-lg-4 d-flex flex-wrap justify-content-sm-between justify-content-md-between justify-content-lg-between justify-content-xl-between"
      *ngFor="let data of elegirCochera"
    >
      <div class="card mx-auto mb-5" style="width: 25rem">
        <img [src]="data.img" class="card-img-top" alt="parking1" />
        <div class="card-body">
          <h5 class="card-title">{{ data.nombre }}</h5>
          <p class="card-text">
            {{ data.descripcion }}
          </p>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#exampleModal-' + getIndex(data)"
          >
            Alquilar
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            [id]="'exampleModal-' + getIndex(data)"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Cochera Título
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body fw-semibold">
                  <div class="img-cochera">
                    <img [src]="data.img" class="card-img-top" alt="parking1" />
                    <div class="mt-2 text-center">
                      <p>Precio Estadía Mensual: &#36;500</p>
                      <p>Precio Estadía Mensual Según Cantidad de Vehículos:</p>
                    </div>
                    <div class="row-cols-lg-2">
                      <div class="col-xl-10">
                        <div class="input-group mb-3">
                          <label
                            class="input-group-text"
                            for="inputGroupSelect01"
                            >Cantidad</label
                          >
                          <select
                            class="form-select fw-medium"
                            id="inputGroupSelect01"
                          >
                            <option selected class="m-auto">Seleccione</option>
                            <option
                              value="1"
                              *ngFor="let data of elegirCantidad"
                            >
                              {{ data.autosCantidad }}:
                              <span>{{ "$" + data.precio }}</span>
                            </option>
                          </select>
                        </div>
                        <p class="text-center fw-medium">
                          Usted puede adquirir:
                        </p>
                        <div class="input-group mb-3">
                          <label
                            class="input-group-text"
                            for="inputGroupSelect01"
                            >Servicios Extras</label
                          >
                          <select class="form-select" id="inputGroupSelect01">
                            <option selected>Seleccione</option>
                            <option
                              value="1"
                              *ngFor="let data of elegirServicio"
                            >
                              {{ data.lavado }}:
                              <span>{{ "$" + data.precio }}</span>
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="cerrarModal()"
                    routerLink="/carrito"
                  >
                    Agregar al Carrito
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    routerLink="/detalle-facturacion"
                    (click)="cerrarModal()"
                  >
                    Alquilar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
