<div class="container-fluid mt-5">
  <div class="row">
    <div
      class="col-12 col-lg-4 d-flex flex-wrap justify-content-sm-between justify-content-md-between justify-content-lg-between justify-content-xl-between"
      *ngFor="let data of cocheras"
    >
      <div class="card mx-auto mb-5" style="width: 25rem">
        <img [src]="data.img_cochera" class="card-img-top" alt="parking1" />
        <div class="card-body">
          <h5 class="card-title">{{ data.nombre_cochera }}</h5>
          <p class="card-text">
            {{ data.descripcion_cochera }}
          </p>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#exampleModal-' + getIndex(data)"
          >
            Alquilar
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            [id]="'exampleModal-' + getIndex(data)"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    {{ data.nombre_cochera }}
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body fw-semibold">
                  <div class="img-cochera">
                    <img
                      [src]="data.img_cochera"
                      class="card-img-top"
                      alt="parking1"
                    />
                    <div class="mt-2 text-center">
                      <div class="container mt-2">
                        <div class="row">
                          <div class="col-12">
                            <div class="card mb-3">
                              <div class="card-body">
                                <h2>Tiempo de Alquiler</h2>
                                <table class="table">
                                  <thead>
                                    <tr>
                                      <th>Tiempo</th>
                                      <th>Precio</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let tiempo of tiemposPrecios">
                                      <td>{{ tiempo.tiempo }}</td>
                                      <td>
                                        $ <span>{{ tiempo.precio }}</span>
                                      </td>
                                      <td>
                                        <button
                                          type="button"
                                          class="btn btn-primary"
                                          (click)="
                                            agregar(
                                              data.id_cochera,
                                              data.precio_servicio,
                                              data.precio
                                            );
                                            costoTiempo(tiempo)
                                          "
                                          [class.t_elegido]="
                                            tiempo === tiempoElegido
                                          "
                                        >
                                          <!-- cerrarModal(); -->
                                          <!-- routerLink="/detalle-facturacion" -->
                                          Elegir
                                        </button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="">
                          <div class="">
                            <p class="text-center fw-medium">
                              Usted puede adquirir:
                            </p>
                            <div class="input-group mb-3">
                              <label
                                class="input-group-text"
                                for="inputGroupSelect01"
                                >Servicios Extras</label
                              >
                              <select
                                class="form-select justify-content-center"
                                id="inputGroupSelect01"
                                (change)="costoServicio($event)"
                              >
                                <option selected>Seleccione</option>
                                <option
                                  *ngFor="let servicio of serviciosPrecios"
                                  [value]="servicio.servicio"
                                >
                                  {{ servicio.servicio }}
                                  <span>{{ "$" + servicio.precio }}</span>
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        routerLink="/carrito"
                        *ngIf="tiemposPrecios; servicios"
                        (click)="
                          cerrarModal();
                          agregar(
                            data.id_cochera,
                            data.precio_servicio,
                            data.precio
                          );
                          suma()
                        "
                      >
                        Agregar al Carrito
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary"
                        (click)="
                          cerrarModal();
                          agregar(
                            data.id_cochera,
                            data.precio_servicio,
                            data.precio
                          );
                          suma()
                        "
                        routerLink="/detalle-facturacion"
                      >
                        Alquilar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
