<div class="container" *ngIf="isLogged; else loggedOut">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">Roles</th>
          </tr>
        </thead>
        <tbody *ngFor="let usuario of usuarios">
          <tr>
            <td>{{ usuario.nombre_usuario }}</td>
            <td>{{ usuario.apellido_usuario }}</td>
            <td>{{ usuario.correo_usuario }}</td>
            <td>{{ usuario.telefono_usuario }}</td>
            <td>{{ usuario.rol }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  <div class="content">
    <div class="card w-50 mx-auto">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div>
          <p class="mensaje mb-0">Ooops!</p>
        </div>

        <div class="d-flex">
          <div class="min d-flex justify-content-center align-items-center">
            <span class="min-icon"></span>
          </div>
          <div class="max d-flex justify-content-center align-items-center">
            <i class="fas fa-window-restore"></i>
          </div>
          <div class="cerrar d-flex justify-content-center align-items-center">
            <i class="fas fa-times"></i>
          </div>
        </div>
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->

        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <h1 class="card-text text-center"><span>404</span> ERROR!</h1>
          <img
            class="w-50 mb-5"
            src="../../../assets/img/error.jpg"
            alt="error 404"
          />
          <button class="btn btn-error" routerLink="/">Volver</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
