<footer class="footer">
  <section class="container-fluid p-5">
    <article class="row d-flex justify-content-between">
      <div class="col-12 col-lg-5 mb-5">
        <h3 id="nosotros">SOBRE NOSOTROS</h3>
        <p class="descripcion">
          TinderCar es una página que busca facilitar la conexión entre usuarios
          de automiles y propietarios de cocheras. Lo que buscamos es ayudar a
          los aumovilistas a encontrar cocheras de manera eficaz y sencilla para
          guardar su vehículo, como también facilitar a los dueños de las
          cocheras la difusión de las mismas y poder administrarlas de la mejor
          manera posible.
        </p>
        <a class="btn-blog">Nuestro Blog</a>
      </div>
      <div class="col-12 col-lg-5">
        <h3>Seguinos</h3>
        <ul class="logos">
          <li class="">
            <a href="https://www.facebook.com/"> Facebook </a>
          </li>
          <li class="ml-2">
            <a href="https://twitter.com/"> Twitter </a>
          </li>
          <li class="">
            <a href="https://www.instagram.com/"> Instagram </a>
          </li>
        </ul>
      </div>
    </article>
  </section>

  <div class="copy-content text-center">
    <small
      >&copy;  {{ currentYear }} <b> TinderCar </b> - Todos los derechos Reservados.</small
    >
  </div>
</footer>
